<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <title>tic. - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/static/screen.css" type="text/css" media="screen, projection">
        <link rel="stylesheet" href="/static/print.css" type="text/css" media="print">    
        <!--[if IE]><link rel="stylesheet" href="/static/ie.css" type="text/css" media="screen, projection"><![endif]-->
        <script type="text/javascript" src="/static/jquery-1.2.6.min.js"></script> 
        <script type="text/javascript" src="/static/jquery.form.min.js"></script> 
        <script type="text/javascript" src="/static/jquery.jeditable.min.js"></script> 
        <script type="text/javascript" src="/static/jquery.autocomplete.min.js"></script> 
        <script type="text/javascript" src="/static/tic.js"></script> 
        <script type="text/javascript">
            $(document).ready(function() {
                    $(".activity").each(function() { addActivityRowListeners($(this)); });
            });
        </script>
        <link rel="icon" type="image/png" href="/static/tic.png" />
        {% block head %}{% endblock %}
    </head>
    <body>
        <div class="container">
        {% block content %}{% endblock %}
        </div>
    </body>
</html>
