{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
<script type="text/javascript">
    function addActivity(response, group) {
        newRow = $(response.activity);
        addRowLinkListeners(newRow, group);
        $("#" + group).prepend($(newRow));
    }
    function addRowLinkListener(activityRow, link, callback) {
        $('a[href="'+ link + '"]', activityRow).click(function() {
                $.post(link, {"key":activityRow.attr("id")}, function(response) {
                    if (response.success) {
                        callback(response);
                    } else {
                       alert(response.reason);
                    }
                    }, "json");
                return false;
                });
    }
    function addRowLinkListeners(activityRow, group) {
        addRowLinkListener(activityRow, "/delete", function() { activityRow.remove(); });
        if (group == "active") {
            addRowLinkListener(activityRow, "/stop",
                    function(response) { 
                        activityRow.remove();
                        addActivity(response, "inactive");
                    });
        } else {
            addRowLinkListener(activityRow, "/restart",
                    function(response) { activityRow.remove(); addActivity(response, "active"); });
            addRowLinkListener(activityRow, "/again",
                    function(response) { addActivity(response, "active"); });
        }
    }
    $(document).ready(function() {
            $('#add_activity').ajaxForm({
                "resetForm":true,
                "dataType":"json",
                "success": function(response) {
                    if(response.success) {
                        addActivity(response, "active");
                    } else {
                        alert(response.reason);
                    }
                }});
            $("#active tr").each(function() { addRowLinkListeners($(this), "active"); });
            $("#inactive tr").each(function() { addRowLinkListeners($(this), "inactive"); });
            });
</script>
{% endblock %}
{% block content %}
<form id="add_activity" action="/add" method="post" class="span-8 last">
    <input type="text" name="name" />
    <input type="submit" value="Start" />
</form>
<table id="active" class="span-16 last">
{% for activity in activities %}
{% include "activity.html" %}
{% endfor %}
</table>
<table id="inactive" class="span-16 last">
{% for activity in inactivities %}
{% include "activity.html" %}
{% endfor %}
</table>
{% endblock %}
