{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
<script type="text/javascript">
    $(document).ready(function() {
            $('#add_activity').ajaxForm({
                "resetForm":true,
                "dataType":"json",
                "success": function(response) {
                    if(response.success) {
                        addActivity(response, "active");
                    } else {
                        alert(response.reason);
                    }
                }});

            function autocompleteCollector(selector, parser) {
                // There's probably a better way to make a list of uniques using Javascript, but
                // this is all I'm coming up with
                var names = {};
                $(selector).each(function (){
                    var bits = parser($(this).text());
                    for (i = 0; i < bits.length; i++) {
                        names[bits[i]] = true;
                    }
                });
                var namearr = [];
                for (name in names) {
                    namearr.push(name);
                }
                return namearr;
            }
            var nameCompletions = autocompleteCollector(".activity td:first-child",
                    function(text) { return [text]; });
            $("#add_activity input").eq(0).autocomplete(nameCompletions);
            var tagCompletions = autocompleteCollector(".activity td:nth-child(2)",
                    function(text) { return text.split(", "); });
             $("#add_activity input").eq(1).autocomplete(tagCompletions);
     });
</script>
{% endblock %}
{% block content %}
<form id="add_activity" action="/activity/" method="post" class="span-16 last">
    <label for="name">Name</label>
    <input type="text" name="name" />
    <label for="tags">Tags</label>
    <input type="text" name="tags" />
    <input type="submit" value="Start" />
</form>
<table id="active" class="span-16 last">
{% for activity in activities %}
{% include "activity.html" %}
{% endfor %}
</table>
<table id="inactive" class="span-16 last">
{% for activity in inactivities %}
{% include "activity.html" %}
{% endfor %}
</table>
{% endblock %}
